h1 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    margin: 1cm;
}

div {
    margin: 3cm;
    font-size: larger;
}

.class1 {
    font-size: larger;
}


/*used text transform to make uppercase*/

#ymal {
    font-size: larger;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}