body {
    background-color: black;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container>div {
    height: 100px;
    width: 100px;
    transition: background-color 1s linear, width 1s ease-in-out, height 500ms ease, border-radius 500ms ease-in-out, border 500ms linear, padding 1s ease-in-out, color 1s linear, font-size 1s ease-in-out;
}

#box1 {
    background-color: #006400;
}

#box1:hover {
    background-color: lawngreen;
    width: 500px;
    height: 200px;
    border: 10px solid blue;
}

#box2 {
    background-color: darkmagenta;
}

#box2:hover {
    background-color: rgb(91, 33, 228);
    border-radius: 50%;
    height: 150px;
    width: 300px;
}

#box3 {
    background-color: darkorange;
}

#box3:hover {
    background-color: rgb(3, 3, 118);
    border: 10px solid rgb(221, 2, 2);
    height: 250px;
    width: 250px;
}

#box4 {
    background-color: rgb(14, 10, 247);
    border: 5px solid greenyellow;
}

#box4:hover {
    background-color: rgb(242, 2, 242);
    border-radius: 100%;
    border: 10px solid blue;
    width: 200px;
    height: 200px;
}

#box5 {
    background-color: rgb(192, 5, 238);
    font-size: 12px;
    text-transform: uppercase;
    text-align: center color: white;
    border: 3px double whitesmoke;
}

#box5:hover {
    background-color: rgb(0, 30, 255);
    padding: 50px;
    padding-top: 100px;
    color: red;
    font-family: fantasy;
    font-size: 22px;
    border: 5px dotted orangered;
}

#box6 {
    background-color: rgb(5, 252, 54);
    border: 5px solid red;
}

#box6:hover {
    background-color: rgb(160, 1, 1);
    height: 150px;
    width: 240px;
    border: 12px solid rgb(5, 252, 54);
}